<div class="panel panel-default">
  <div class="panel-heading panelPayers">
    <h3 class="panel-title text-left col-lg-4 col-md-3 col-sm-8 col-xs-4">{{ 'billing.aggregates'|t }}</h3>
  </div>
  <div class="panel-body">
    <ul style="list-style: none; padding-left: 0;">
      <li ng-repeat="aggregate in aggregates">
      <div class="text-right">
        <h5 style="margin-bottom: 5px;">
          {{ aggregate.name }} - {{ total(aggregate) | lMoney }}
        </h5>
      </div>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-8 control-label text-right" style="padding-right: 5px;">
            {{ aggregate.subtotal | sMoney }} X
          </label>
          <div class="col-sm-4" style="padding-left: 0;">
            <xp-number ng-model="aggregate.amount"></xp-number>
          </div>
        </div>
      </div>
      </li>
      <div class="form-group">
        <div class="text-right">
          <button ng-click="save()" class="btn btn-success"><i class="fa  fa-save"></i></button>
        </div>
      </div>
    </ul>
  </div>
</div>
