<div>
  <xp-discount sale-id="<?=$saleId?>" update="billingCtrl.updateSale"></xp-discount>
  <div class="form-group col-lg-1 col-md-1 col-sm-2 col-xs-2 text-center">
    <button ng-click="accessPortionBucket()" class="btn btn-success" title="Acessar">
      <i class="fa fa-money marginRightNone"></i>
    </button>
  </div>
  <xp-portion-bucket data-id="{{payer.portionBucket.id}}" set-portion-bucket="setPortionBucket(portionBucket)">
  </xp-portion-bucket>
</div>
