<div>
  <div style="padding: 15px;">
  <h3>{{"consign.description"|t}}: {{orderItem.productSnapshot.name}}</h3>
  <ul>
    <li ng-repeat="pf in orderItem.productFlows">
      <h4>{{"flowType."+pf.flowTypeName|t}}</h4>
      <ul>
        <li>Quantidade: {{pf.amount|number:3}}</li>
        <li>Data de criação: {{pf.creation|dateF}}</li>
      </ul>
    </li>
  </ul>
  </div>
  <div style="padding: 10px 0 0 15px; border-top: 1px solid #dfdfdf; background: #eee;">
    <p style="font-size: 18px; font-weight: 700; color: #d43f3f;">
      {{"consign.totalOut"|t}}: {{orderItem.summary.amount|number:3}}
    </p>
    <p style="font-size: 18px; font-weight: 700; color: #5cb85c; padding-top: 10px;  border-top: 1px solid #dfdfdf;">
      {{"subtotal"|t}}: {{orderItem.summary.price|lMoney}}
    </p>
  </div>
</div>
