<div>
  <div xp-enter-as-tab data-then="save()">
    <div class="row">
      <label for="discount" class="col-sm-6 control-label text-left" style="text-align: left;">Desconto: </label>
      <div class="col-sm-6">
        <xp-percentage data-is-percentage="true"
                       data-reference-number="sale.totalOrder"
                       data-number="sale.order.discount"
                       data-focus="reload()"
                       data-index="0">
        </xp-percentage>
      </div>
    </div>
    <div class="row">
      <label for="secondDiscount" class="col-sm-6 control-label text-left" style="text-align: left;">
        Desconto adicional: 
      </label>
      <div class="col-sm-6">
        <xp-number ng-model="sale.order.secondDiscount" 
                   data-focus="reload()"
                   data-index="1">
        </xp-number>
      </div>
    </div>
    <div class="row">
      <button ng-click="save()" class="btn btn-success">Salvar descontos</button>
    </div>
  </div>
</div>
