<div class="helperProd">
  <div class="panel panel-default">
    <div class="panel-heading panelPayers">
      <h3 class="panel-title">Adicionar produto</h3>
    </div>
    <div class="panel-body">
      <p>Para buscar por produtos: CTRL+B</p>
      <div><label for="">Modo bip: <input type="checkbox" ng-model="fastMode"></label></div>
      <div class="form-inline clearfix enterAsTab">
        <div xp-enter-as-tab data-then="confirm()">
          <div class="formValue form-group col-lg-1 col-md-2 col-sm-3 col-xs-2">
            <label class="small" for="amount"><u>Q</u>tde</label>
            <span>
              <xp-number id="amount" data-index="0" ng-model="amount" data-keyup="updateSubtotal()" autofocus></xp-number>
            </span>
          </div>
          <div class="form-group col-lg-2 col-md-4 col-sm-5 col-xs-3">
            <label class="small" for="code"><u>C</u>ódigo</label>
            <input id="code" 
                   data-index="1" 
                   type="text" 
                   ng-model="codeOrBarCode" 
                   ng-keyup="loadProdData()" 
                   class="form-control">
          </div>
        </div>
    
        <div class="formValue form-group col-lg-2 col-md-3 col-sm-4 col-xs-4">
          <label class="small" for="price">Valor</label>
          <span>
            <input type="text" value="{{targetProduct ? targetProduct.price : 0 | sMoney}}" readonly class="form-control">
          </span>
        </div>
    
        <div class="formValue form-group col-lg-2 col-md-3 col-sm-4 col-xs-3">
          <label class="small" for="subtotal">Subtotal</label>
          <input type="text" value="{{targetProduct ? targetProduct.subtotal : 0 | sMoney}}" readonly class="form-control">
        </div>
    
        <div class="form-group col-lg-4 col-md-10 col-sm-8 col-xs-10">
          <label class="small" for="name">Descrição</label>
          <input type="text" value="{{targetProduct ? targetProduct.name : ('product.empty'|t)}}" readonly class="form-control">
        </div>
    
        <div class="form-group col-lg-1 col-md-2 col-sm-2 col-xs-2" style="padding: ">
          <label class="small" for="">&nbsp;</label>
          <input type="submit" value="OK" class="form-control btn-success" ng-click="confirm()">
        </div>
      </div>
      <div id="productsModal" class="modalOff">
        <xp-table-selector data-link="{{baseUrl}}vwProduct" 
                           get-data="feedProducts(items, filter)" 
                           select="bindProduct(selectedRow)">
        </xp-table-selector>
      </div>
    </div>
  </div>
</div>
