<div>
  <div>
    <div class="panel panel-primary">
      <div class="panel-heading panelPayers">
        <h3 style="float: left;" class="panel-title">Tipos de características</h3>
        <button style="float: right; margin: 3px;" class="btn btn-sm btn-success" ng-click="createCharacteristic()"><i class="fa fa-plus"></i></button>
      </div>
      <div class="panel-body" style="padding: 0" ng-repeat="c in characteristics">
        <div class="panel panel-info" style="margin-bottom: 3px">
          <div class="panel-heading panelPayers col-lg-12">
            <div class="pull-left col-lg-6 col-md-5" style="margin-top: 3px;">
              <input type="text" ng-blur="save(c)" ng-model="c.name" class="form-control input-sm">
            </div>
            <div class="pull-right col-lg-6 col-md-7 text-right" style="margin-top: 3px;">
              <button class="btn btn-sm btn-primary" ng-click="createInstance(c)"><i class="fa fa-plus"></i></button>
              <button class="btn btn-sm btn-danger" ng-click="deleteChar(c)"><i class="fa fa-trash"></i></button>

              <button class="btn btn-sm btn-warning" ng-show="c.displayOrder < characteristics.length" 
                      ng-click="down(c)"><i class="fa fa-level-down"></i></button>
              <button class="btn btn-sm btn-default" ng-show="c.displayOrder == 1" disabled><i class="fa fa-level-up"></i></button>
              
              <button class="btn btn-sm btn-default" ng-show="c.displayOrder == characteristics.length" disabled><i class="fa fa-level-down"></i></button>
              <button class="btn btn-sm btn-warning" ng-show="c.displayOrder > 1" ng-click="up(c)"><i class="fa fa-level-up"></i></button>
            </div>
          </div>
          <div class="panel-body">
            <div class="row" style="margin-bottom: 5px">
              <div class="col-lg-12 col-md-12">
                <h5 style="font-weight: 600;">Caracteristicas</h5>
              </div>
              <div ng-repeat="i in c.instances">
                <div class="col-lg-9 col-md-8">
                  <input type="text" class="form-control input-sm" ng-blur="save(c)" ng-model="i.name">
                </div>
                <div class="col-lg-3 col-md-4 text-right" style="padding-left: 0;">
                  <span class="disable" ng-click="toggle(i)" style="">
                    <i class="fa" ng-class='{"fa-toggle-on": isSelected(i), "on": isSelected(i), "fa-toggle-off": !isSelected(i)}' style="padding: 5px 5px 0 0;"></i>
                  </span>
                  <button class="btn btn-sm btn-danger" ng-click="deleteInst(i)"><i class="fa fa-trash"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
