<style>
#payerId{font-size: 12px; line-height: 34px;}
.table{margin-bottom: 0;}
.tdBold{font-weight: 700;}
.marginRightNone{margin-right: 0;}
</style>

<div>
  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-lg-1 col-md-2 col-sm-1 text-center" id="payerId">
          <label>{{payer.id}}</label>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-5">
          <input type="text" ng-model="payer.description" class="form-control">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <xp-number ng-model="payer.portionBucket.amount"></xp-number>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          {{payer.portionBucket.nonParceledAmount|lMoney}}
          <!--<div>Faltando acertar: {{ payer.portionBucket.nonParceledAmount | sMoney }}</div>-->
        </div>
        <div class="col-sm-offset-1 col-sm-11" ng-if="payer.customer">Vinculado com {{payer.customer.personAttr.name}}</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <xp-payer-status data-payer="payer"></xp-payer-status>
  </div>
  <div class="form-group col-lg-1 col-md-1 col-sm-2 col-xs-2 text-center">
    <button ng-click="accessPortionBucket()" class="btn btn-success" title="Acessar"><i class="fa fa-money marginRightNone"></i></button>
  </div>
  <div class="form-group col-lg-1 col-md-1 col-sm-2 col-xs-2 text-center">
    <button ng-click="showCustomerModal()" class="btn btn-primary" title="Vincular">
      <span class="glyphicon glyphicon-link marginRightNone"></span>
    </button>
  </div>
  <div class="xp-table-selector">
    <xp-table-selector data-link="{{baseUrl}}vwCustomer/elt" 
                       get-data="feedCustomers(items, filter)" 
                       select="bindCustomer(selectedRow)">
    </xp-table-selector>
  </div>
  <div class="xp-portion-bucket">
    <xp-portion-bucket data-id="{{payer.portionBucket.id}}" 
                       set-portion-bucket="setPortionBucket(portionBucket)"
                       set-payer="changePayer()">
    </xp-portion-bucket>
  </div>
</div>
