<div>
  <style>
  .payTitle{margin: 10px 0; border-bottom: 1px solid #e6e6e6; padding: 10px;}
  .form-horizontal{list-style: none; padding: 0;}
  .listPayment{padding: 2.5px 0;}
  .changeDiv button{margin-bottom: 10px;}
  .orderTable{margin-bottom: 10px; border-color: #e1e1e1;}
  .orderTable tr td{padding: 5px; border-color: #e1e1e1;}
  .deadline{margin-top: 10px;}
  </style>

  <section>
    <section>
      <div class="form-group">
        <label for="totalPay" class="col-sm-3 control-label" style="text-align: left;">À pagar: </label>
        <div class="col-sm-9">
          <input class="form-control inputTotalPay text-right" type="text" value="{{total()|lMoney}}" readonly>
        </div>
      </div>
      <br>
      
      <div ng-if="portionBucket.isBoundToPayer" class="form-group">
        <button ng-click="showCustomerModal()" class="form-control btn btn-primary" title="Vincular">
          <span class="glyphicon glyphicon-link marginRightNone"></span>
        </button>
        <div ng-if="portionBucket.isBoundToCustomer">
          Vinculado com {{ portionBucket.customer.personAttr.name }}
        </div>
      </div>
      <ul id="navInside" class="nav nav-tabs" role="tablist" ng-init="tab=1">
        <li role="presentation" ng-class="{active:tab==1}">
          <a ng-click="tab=1" style="cursor: pointer; font-size: 18px;">A vista</a></li>
        <li role="presentation" ng-show="portionBucket.isBoundToCustomer" ng-class="{active:tab==2}">
          <a ng-click="tab=2" style="cursor: pointer; font-size: 18px;">A prazo</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" ng-show="tab==1">
          <div class="row">
            <div class="col-md-12">
              <div>
                <div>
                  <ul class="form-horizontal">
                    <li ng-repeat="slot in slots">
                      <label class="col-lg-6 control-label">{{slot.paymentType.name}}</label>
                      <div class="col-lg-6 listPayment">
                        <xp-number ng-model="slot.amount" data-index="{{slots.indexOf(slot)}}"></xp-number>
                      </div>
                    </li>
                    <div class="form-group">
                      <label for="discount" class="col-lg-6 control-label text-left">Sub totalizador: </label>
                        <div class="col-lg-6" style="padding-left: 0; margin-top: 3px;">
                            <input class="form-control text-right" type="text" value="{{ totalPayments() | sMoney }}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="discount" class="col-lg-6 control-label text-left" style="color: #d43f3f;">Troco: </label>
                        <div class="col-lg-6" ng-show="change() > 0" style="padding-left: 0; margin-top: 3px;">
                            <input class="form-control inputTotalPay text-right" type="text" value="{{ change() | sMoney }}" readonly>
                        </div>
                    </div>
                  </ul>
                  <div class="changeDiv">
                    <button ng-click="createAndPayPortion()" class="btn btn-success col-lg-12">Confirmar</button>
                  </div>
                </div>
              <div>
                  <h4>Pago</h4>
                  <ol>
                    <li ng-repeat="portion in portionBucket.portions | filter:{validUntil: null}">
                      <ul ng-if="portion.payments.length">
                        <li ng-repeat="payment in portion.payments">
                        {{ payment.paymentType.name }} {{ payment.amount | lMoney }}
                        {{ payment.hasReversal ? " - Estornado" : "" }}
                        </li>
                        <li ng-if="portionChange(portion) > 0">Troco: {{ portionChange(portion) | lMoney }}</li>
                      </ul>
                    </li>
                  </ol>
                </div>
              </div>  
            </div>
          </div>
        </div>
        <div role="tabpanel" ng-show="tab==2">
          <div class="row">
            <div class="col-md-12">
              <div ng-show="portionBucket.isBoundToCustomer">
                <div ng-hide="portionBucket.portions.length" class="payParcel">
                  <!--<div class="deadline">
                    <h4 class="col-lg-12">Criar de forma predefinida</h4>
                    <div class="col-lg-8">
                      <select class="form-control" ng-model="selectedPredefinedParcelling" ng-options="pp.name for pp in predefinedParcellings"></select>
                    </div>
                    <div class="col-lg-4">
                      <button class="btn btn-primary" ng-click="insertPredefinedParcelling()">Efetuar</button>
                    </div>
                  </div>-->  
                  <div class="deadline">
                    <h4 class="col-lg-12">Parcelamento</h4>
                    <div class="col-lg-8">
                      <label>
                        Entrada 
                        <input type="checkbox" ng-model="hasDownPayment">
                      </label>
                      <label>
                        Quantidade de parcelas
                        <xp-number ng-model="portionsAmount"></xp-number>
                      </label>
                      <fieldset ng-show="hasDownPayment">
                        <legend>Entrada</legend>
                        <label>
                          Tipo de pagamento
                          <select ng-model="downPaymentType"
                                  ng-options="value as value.name for value in paymentTypes">
                          </select>
                        </label>
                        <label>
                          Valor de entrada
                          <xp-number ng-model="downPayment" decimals=2></xp-number>
                        </label>
                      </fieldset>
                    </div>
                    <div class="col-lg-4">
                      <button class="btn btn-primary" ng-click="createPortions()">Efetuar</button>
                    </div>
                  </div>
                </div>
                <div ng-show="portionBucket.portions.length">
                  <button ng-click="createPortions(1)" class="btn btn-success">Adicionar Parcela</button>
                </div>
                <div style="clear: both;"></div>
                <div style="margin-top: 15px;">
                  <h4>Parcelas Criadas</h4>
                  <table border="1" class="orderTable">
                    <tr ng-repeat="portion in portionBucket.portions | filter:{validUntil: ''}">
                      <td>
                        <xp-date ng-model="portion.validUntil" data-blur="updatePortionValidUntil(portion)"></xp-date>
                      </td>
                      <td>
                        <xp-number ng-model="portion.total" 
                                   data-blur="updatePortionTotal(portion)"
                                   decimals=money>
                        </xp-number>
                      </td>
                      <td><button ng-click="removePortion(portion)" class="btn btn-danger">Remover</button></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <div class="xp-table-selector">
    <xp-table-selector data-link="{{baseUrl}}vwCustomer/elt" 
                       get-data="feedCustomers(items, filter)" 
                       select="bindCustomer(selectedRow)">
    </xp-table-selector>
  </div>
</div>
