<div>
  <div ng-repeat="portion in payer.portionBucket.portions">
    <table class="table">
      <tbody>
        <tr>
          <td class="tdBold">{{ portion.validUntil ? (portion.validUntil | date2) : 'A vista' }} - {{ portion.total | lMoney }}{{ portionHasReversals(portion) ? " - Possui extornos" : "" }}</td>
        </tr>
        <tr ng-if="validPayments(portion.payments).length" ng-repeat="payment in validPayments(portion.payments)">
          <td>{{ payment.paymentType.name }} {{ payment.amount | lMoney }}</td>
        </tr>
        <tr ng-if="validPayments(portion.payments).length">
          <td class="tdBold" style="color: #d9534f; ">{{ paymentStatus(portion) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
