<div>
  <div ng-if="link">
    <hr class="topHr">
    <nav class="navHeader navbar navbar-inverse">
      <div class="navHeaderLeft navbar-header col-lg-9 col-md-9 col-sm-7 col-xs-12">
        <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 text-left">
          <a id="ancBack" class="btn navbar-btn btn-success" title="Novo Consignado" ng-href="{{link}}" target="_blank" style="width: auto;">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Novo
          </a>
      </div>
    </nav>
  </div>
  <div style="margin: 15px;">
    <div style="margin-top: 20px;">
      Itens
      <xp-number ng-model="items"></xp-number>
    </div>
    <div style="margin: 10px 0;">
      Filtro
      <input class="filter form-control" ng-model="filter" type="text" ng-keyup="onKeyup($event)" autofocus>
      <button ng-click="selectRow()" class="btn btn-primary" style="margin-top: 10px;">Escolher</button>
    </div>
    <div>
      <table class="scroll table table-bordered table-striped table-hover">
      </table>
    </div>
  </div>
</div>
