/*Borda superior do primeiro painel*/
.panelHeader{
  border-color: #000000; border-top: 4px solid #d9534f; border-radius: 0;
}

/*Painel superior*/
.panelHeader>.panel-heading {
  background-color: #333;  min-height: 60px; padding: 0; border-radius: 0;
}

.topHr{
background: #d9534f; margin: 0; height: 4px; border: 0;
}

.hiddenHr{
background: #d9534f; margin: 0; height: 2px; border: 0;
}

/*Área onde ficam os botões e o valor total*/
.navHeader{
margin-bottom: 0; background: #333; border-radius: 0px;
}

  /*Área dos botões*/
  .navHeaderLeft{
  padding-left: 0;
  margin-top: 5px;
  }
  /*Fixar largura dos botões*/
  .navHeaderLeft a, .navHeaderLeft button{
    width: 40px;
  }
  /*Estilização do botão imprimir (new)*/
  .btnShortcut{
  position: relative; bottom: -22px; left: -10px; font-size: 10px; letter-spacing: 1px; color: #cacaca;
  }
  .newShortcut{
  font-size: 8px; position: relative; bottom: -8px; right: 5px;
  }

  /*Área do valor total*/
  .navHeaderRight{
  font-size: 17px; margin: 0;color: #ffffff;
  }

/*Área abaixo do cabecalho, onde ficam o ID e Nº da Comanda*/
.navSubHeader{
border: none; margin-bottom: 0; height: 38px;
}

  /*Área do ID*/
  .navSubHeaderLeft{
  background: #555; color: #eee; font-size: 12px; height: 38px; line-height: 36px; border-bottom: 1px solid #333;}

    /*Texto do ID*/
    .navSubHeaderLeft p{
    margin: 0;
    }

  /*Área da Comanda*/
  .navSubHeaderRight{
  background: #d43f3f;
  }
    /*Texto da Comanda*/
    .navSubHeaderRight p{
    color: #ffffff; font-size: 18px; height: 38px; line-height: 38px; margin: 0;
    }

/*Área do Add Produto*/
.addSection{
border: 1px solid #ddd;border-bottom: none; margin-top: 0; /*background: #eee;*/
}
  /*Titulo do Add Produto*/
  .addSection h3{
  /*margin-top: 10px;*/
  }
  
  /*Form do Add Produto*/
  .addSection form{
  margin-left: -15px;
  }
  .addSection .formValue input{
  text-align: right;
  }

/*Área da lista produtos da comanda*/
.addList{
border: 1px solid #ddd;padding: 10px 10px 20px 10px; margin-top: 0;
}
  .addList table{
    margin-top:10px;
  }

/*Espaçamento do modal*/
#new{padding: 25px;}

#navSaleId{
  border-left: 1px solid #333;border-right: 1px solid #333;
}
