[log] {
  text-align: left;
}

[log="success"] {
  color: green;
  border: 1px solid green;
  border-radius: 5px;
  padding: 5px;
}

[log="fail"] {
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
}
