.panelHeader{
border-color: #000000; border-top: 4px solid #d9534f; border-radius: 0;
}

.panelHeader>.panelHeading{
background-color: #333; min-height: 100px; padding 0; border-radius: 0; color: #ffffff;
}
