[data-modal-target] {
  cursor: pointer;
}

.dynamicSearch {
  display: none;
}

.modal-body {
  background: rgba(0,0,0,0.5);
  width:      100%;
  height:     100%;
  position:   absolute;
  top:        0;
  z-index:    9998;
  overflow:   auto;
}

.modal-container {
  background: white;
  margin:     0 auto;
  position:   relative;
  padding:    20px;
}

.modal-container .close-modal {
  width:      17px;
  height:     18px;
  background: url('../../resource/image/close-modal.png');
  position:   absolute;
  right:      0;
  top:        0;
  cursor:     pointer;
  margin:     3px 3px 0 0;
}
