.modalOff { display: none; }

.modalOn {
  min-width: 98%;
  padding: 10px;
  overflow-y: scroll;
  display: block;
  position: fixed;
  background-color: white; 
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 10000px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 0px 10000px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 0px 10000px rgba(0,0,0,0.75);
}

.closeButton {
  width: 18px;
  height: 17px;
  background-image: url('../../resource/image/closeModal.png');
  background-position: center;
  position: fixed;
  top: 2%;
  right: 2%;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 80px -19px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 80px -19px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 80px -19px rgba(0,0,0,0.75);
  cursor: pointer;
}

.closeButton:hover {
  opacity: 0.5;
}

#detailModal h3{
  margin-top: 10px;
}
.hrStyle{
  margin-top: 15px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
