body {
  padding:20px;
  background: #fafafa;
}

.form-inline .form-group label { display:block; }

.form-inline .form-group input { display:block; width: 100%; }

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > td {
  background-color: #f0f0f0;
}

.table-striped > tbody > tr[selected="true"] > td { background-color: yellow; }

/* fix glyphicon position */
.glyphicon { margin-right:8px; }

.dynamicSearch { min-width: 98%; }

table.scroll tbody, table.scroll thead { display: block; }
table.scroll tbody {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
table.scroll tbody tr td {
  white-space: nowrap;
}
